.card {
  display: inline-block;
  border-radius: 10%;
  cursor: not-allowed;

  .card-image {
    height: 100%;
    width: 100%;
    display: none;
  }

  &:not(.opened) {
    background-color: rebeccapurple;
    cursor: pointer;
  }

  &.opened {
    .card-image {
      display: block;
    }
  }

  &.transparent {
    .card-image {
      opacity: 0.2;
    }
  }
}